.grid-container {
  display: grid;
	grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto;
	grid-row-gap: 10px;
}
.fullwide{
	grid-column-start: 1;
  grid-column-end: 5;
}
.leftwide{
	grid-column-start: 1;
  grid-column-end: 3;
}
.rightwide{
	grid-column-start: 3;
  grid-column-end: 5;
}
.columnhead{
	text-align:center;
	font-size:1.5em;
}
.grid-container > div {
	padding:10px;
	text-align:center;
}
#search{
	text-align:center;
	padding-top:40px;
	padding-bottom:30px;
}

#search input{
	width:70%;
	min-width: 17em;
  max-width: 50em;
	border: none;
  box-shadow: 0px 5px 5px -3px #142127;
	padding: 16px 10px 16px 55px;
	font-size:1.1em;
}
