<!-- 
                 
                                                    ,-.----.  ,-.----.   
      .--.         .---.                            \    /  \ \    /  \  
    .--,`|        /. ./|  .--.--.                   |   :    ||   :    | 
    |  |.      .-'-. ' | /  /    '        ,--.--.   |   | .\ :|   | .\ : 
    '--`_     /___/ \: ||  :  /`./       /       \  .   : |: |.   : |: | 
    ,--,'| .-'.. '   ' .|  :  ;_        .--.  .-. | |   |  \ :|   |  \ : 
    |  | '/___/ \:     ' \  \    `.      \__\/: . . |   : .  ||   : .  | 
    :  | |.   \  ' .\     `----.   \     ," .--.; | :     |`-':     |`-' 
  __|  : ' \   \   ' \ | /  /`--'  /__  /  /  ,.  | :   : :   :   : :    
.'__/\_: |  \   \  |--" '--'.     /  .\;  :   .'   \|   | :   |   | :    
|   :    :   \   \ |      `--'---'\  ; |  ,     .-./`---'.|   `---'.|    
 \   \  /     '---"                `--" `--`---'      `---`     `---`    
  `--`-'                                                                 

Finding an interest in how I wrote this page? Let me know if you have any questions.  You can find me on keybase or twitter (DMs are open).

-->

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Joe Steinbring</title>
	<meta name="description" content="Joe Steinbring is a web application engineer based in Glendale, Wisconsin. He is a world traveler, a photographer, a politics watcher, and a habitual hobby collector."/>
	<meta name="keywords" content="Joe Steinbring, Joseph Steinbring, Joey Steinbring, Joseph William Steinbring, Joseph W Steinbring, Steinbring, JWS, Glendale, Milwaukee, Wisconsin, Laravel, PHP, JavaScript, ColdFusion, VueJS">

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="Joe Steinbring is a web application engineer based in Glendale, Wisconsin. He is a traveler, a photographer, a politics watcher, and habitual hobby collector." />
	<meta name="twitter:title" content="Joe Steinbring" />
	<meta name="twitter:site" content="@steinbring" />
	<meta name="twitter:image" content="https://jws.app/joe-drawn.png" />
	<meta name="twitter:creator" content="@steinbring" />

	<link rel="canonical" href="https://jws.app" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="Joe Steinbring">
	<meta property="og:description" content="Joe Steinbring is a web application engineer based in Glendale, Wisconsin. He is a world traveler, a photographer, a politics watcher, and a habitual hobby collector.">
	<meta property="og:image" content="https://jws.app/joe-drawn.png" />

	<link rel="icon" href="https://jws.app/joe-drawn.png">

	<link rel='dns-prefetch' href='//pro.fontawesome.com' />
	<link rel='dns-prefetch' href='//cdn.jsdelivr.net' />
	<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
	<link rel='dns-prefetch' href='//www.googleapis.com' />
	<link rel='dns-prefetch' href='//blog.jws.app' />
	<link rel='dns-prefetch' href='//api.github.com' />
	<link rel='dns-prefetch' href='//dev.to' />
	<link rel='dns-prefetch' href='//api.tumblr.com' />
</head>
<body>
	<div id="app">
		<section class="hero is-dark is-medium" class="masthead" role="img" v-bind:aria-label="this.featimgposts[0].title" v-bind:style="{ 'background': 'radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.95) 100%), url(' + this.featimages[0] + ') no-repeat center center scroll' }" id="home">
		  <!-- Hero head: will stick at the top -->
		  <div class="hero-head">
		    <nav class="navbar is-transparent">
		      <div class="container">
		        <div class="navbar-brand">
		          <a class="navbar-item is-size-4 has-text-weight-bold" href="#home">
		            Joe Steinbring
		          </a>
		          <span class="navbar-burger burger has-text-white" data-target="navbarMenuHero" onclick="document.getElementById('navbarMenuHero').classList.toggle('is-active');">
		            <span></span>
		            <span></span>
		            <span></span>
		          </span>
		        </div>
		        <div id="navbarMenuHero" class="navbar-menu">
		          <div class="navbar-end">
		            <a class="navbar-item" href="#about">
		              About
		            </a>
		            <a class="navbar-item" href="#updates">
		              Updates
		            </a>
		          </div>
		        </div>
		      </div>
		    </nav>
		  </div>

		  <!-- Hero content: will be in the middle -->
		  <div class="hero-body">
		  </div>
		</section>

		<!-- Start: Content -->
		<div class="box mr-5 ml-5 upwardbump">
			<section class="section" id="about">
				<div class="container">
					<h1 class="title">About</h1>
					<p>Hi! My name is <a rel="me" href="https://jws.dev/">Joe Steinbring</a>. I am a full-stack developer in Glendale, Wisconsin (a suburb of Milwaukee). I currently work for <a href="https://baderrutter.com/">Bader Rutter</a>. I have two dogs, a cat, and a hobby collection hobby.</p>
					<p>This website exists as a little bit of an <a href="https://blog.jws.app/tag/jws-app/">experimental laboratory</a>. You can follow some of my public work <a href="https://jws.app/#updates">below</a>.  I write on <a rel="me" href="https://blog.jws.app/">blog.jws</a> and <a href="https://dev.to/steinbring/">Dev.to</a>, post code to <a href="https://codepen.io/steinbring">CodePen</a>, and generally spend too much time doing things online.</p>
				</div>
			</section>
		</div>

		<div class="box mr-5 ml-5">
			<section class="section" id="updates">
				<div class="container">
					<h1 class="title">Updates</h1>
					<div class="updates">
						<div class="card" v-for="update in updates" v-bind:class="update.width">
							<div class="card-image">
								<figure class="image is-4by3">
									<a v-bind:href="update.url"><img v-bind:src="update.imgurl"></a>
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-4"><a v-bind:href="update.serviceurl"><i v-bind:class="update.icon"></i> {{update.service}}</a></p>
										<p class="subtitle is-6" v-html="update.title"></p>
									</div>
								</div>

								<div class="content">
									<p v-if="update.width=='widepost'" v-html="update.excerpt">
									</p>
									<br />
									<a v-bind:href="update.url"><time datetime="2016-1-1">{{update.published.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</time></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- The footer  -->
		<footer class="footer-distributed">

			<div class="footer-right">

				<a rel="me" href="https://keybase.io/steinbring"><i class="fab fa-keybase" title="Keybase"></i></a>
				<a rel="me" href="https://twitter.com/steinbring"><i class="fab fa-twitter" title="Twitter"></i></a>
				<a rel="me" href="https://www.instagram.com/joesteinbring/"><i class="fab fa-instagram" title="Instagram"></i></a>
				<a rel="me" href="https://mastodon.social/@steinbring"><i class="fab fa-mastodon" title="Mastodon"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#about">About</a>
					<a href="#updates">Updates</a>
				</p>

				<p>Joe Steinbring &copy; 2021</p>
			</div>

		</footer>
		
	</div>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css" integrity="sha384-sr3GDThhNP8BxHFoTK4zKFgOjcrT8vzaiLwnwU+yB31BCaNj3QMX6YVXcv8AeBAy" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

	<script type="text/javascript" src="./js/index.js"></script>
	
</body>
</html>
